<div class="mainContainer">

    <div class="select">
        <a href="/topic/1">Die Erhaltung des Menschengeschlechts</a>
        <a href="/topic/2">Ehe</a>
        <a href="/topic/3">Frauen</a>
        <a href="/topic/4">Hoffnung</a>
        <a href="/topic/5">Humor</a>
        <a href="/topic/6">Geld</a>
        <a href="/topic/7">Freundschaft</a>
        <a href="/topic/8">Vatersein</a>
        <a href="/topic/9">Heimat</a>
        <a href="/topic/10">Eigentum</a>
        <a href="/topic/11">Tod</a>
    </div>
    <div class="header">


        <div class="logout">
            <a href="/">
                <button>Logout</button>
            </a>
        </div>
    </div>

    <div class="main">
        <div class="title">
            <h1>{{topic}}</h1>
        </div>

        <div class="questions">
            {{#questionsArrSelect}}
            <p>{{title}}<br>{{text}}</p>
            <div class="answer">
                <form action='/main' method="POST">
                    <textarea id="{{id}}" name='{{id}}' value="{{answer id}}" placeholder="Antwort" wrap='hard'
                        rows="1">{{answer id}}</textarea>
                </form>
            </div>
            {{/questionsArrSelect}}
        </div>
    </div>

</div>