<div class="header">
    <div class="version">
        <p>Mein Fragebogen 1</p>
        <p>Mein Fragebogen 2</p>
        <p>Mein Fragebogen 3</p>
        <button>+</button>
    </div>

    <div class="title">
        <form action='/topic' method="POST">
            <select name="topic" id="topic">
                <option name="option0" value="0">Thema</option>
                <option name="option1" value="1">Die Erhaltung des Menschengeschlechts</option>
                <option name="option2" value="2">Ehe</option>
                <option name="option3" value="3">Frauen</option>
            </select>
            <button>Go</button>
        </form>
        <h1>{{topic}}</h1>
        <button>></button>
    </div>

    <div class="logout">
        <a href="/">
            <button>Logout</button>
        </a>
    </div>
</div>

<div class="main">
    {{#questionsArr}}
    <p>{{title}}<br>{{text}}</p>
    <div class="answer">
        <form action='/main' method="POST">
            <input type="text" id="{{id}}" name='{{id}}' value="{{answer id}}">
            <button>save</button>
        </form>
    </div>
    {{/questionsArr}}
</div>